.container-1 {
  width: 75%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
}
.flex-box-container-1 {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
}
.flex-box-container-1 div {
  padding: 10px;
}

.container-2 {
  border: 1px solid black;
  margin: 0 auto;
  width: 75%;
  text-align: center;
}
.flex-box-container-2 {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-around;
}
.pomocni-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid black;
}

.flex-box-container-2 img {
  width: 30%;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.7);
  margin: 10px;
}

.container-3 {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  border: 1px solid black;
}
.flex-box-rps {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  justify-content: space-around;
  width: 75%;
}
.flex-box-rps img {
  margin: 20px;
}
.flex-box-rps img:hover {
  box-shadow: 0px 10px 50px rgba(40, 12, 233, 1);
}
.container-4 {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  border: 1px solid black;
}
.flex-box-container-4 {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.container-5 {
  margin: 0 auto;
  width: 75%;
  text-align: center;
  border: 1px solid black;
}
.flex-box-container-5 {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: url("static/images/background.jpg");
}
.flex-box-container-5 div {
  border: 1px solid black;
  flex: 1;
  height: 400px;
  color: #ffffff;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-box-container-6 {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.flex-box-container-6 div {
  border: 1px solid black;
  padding: 10px;
}
.flex-box-container-6 button {
  margin: 5px;
}
table,
th,
td {
  border: 1px solid black;
  margin: 0 auto;
}
.flex-box-container-7 {
  padding: 10px;
}

.flex-box-container-5 img {
  height: 100px;
  width: 80px;
  margin: 10px;
}
